.main {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.leftPanel{
    flex: 1;
    background-color: antiquewhite;
}

.center{
    flex: 5;
    flex-direction: column;
    display: flex;
}

.centerSearch{
    flex: 3;
}
.centerType{
    flex: 2;
}
.centerImage{
    flex: 10;
}
.centerSometext{
    flex: 2;
}
.centerPicture{
    flex: 6;
}

.rightPanel{
    flex: 1;
    background-color: antiquewhite;
}

body{
    margin: 0;
}
.page-menu.data{
    position: absolute;
    top:100px;
    display: flex;
    width: 60vw;
    height: 70vh;
    border: 1px solid #fafafa;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.a1{
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a2{
    position: inherit;
    display: flex;
    bottom:40px;
    padding-left: 80px;
    padding-right: 20px;
}
.img1{
    max-width: 250px;
    max-height: 350px;
    padding-left: 70px;
    padding-right: 50px;
}
.a3{
    position: inherit;
    padding-left: 0;
}
#a4{
    text-decoration: none;
}
.a5{
    background-color:#f8eff8;
    width: 100vw;
    border-radius: 0 30px 30px 0;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7vh;
}
#a6{
    margin: 15px;
    width:280px;
    height: 50px;
    border-radius: 20px;
    border:none;
    background-color: #FFFFFF;
}
#a6:focus{
    outline:none;
}
input{
    text-indent: 20px;
}
#a7{
    position: relative;
    padding-top:20px;
    padding-left: 200px;
    color: #A3A3A3;
}
#a8{
    position: relative;
    width: 280px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: white;
}
.btn1{
    position: relative;
    display: flex;
    justify-content: center;
}
